*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     width: 100vw;
     height: 100vh;
     background-color: rgb(183, 183, 183);
}

#main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(183, 183, 183);
    overflow: hidden;
}

#time{
    display: flex;
    flex-direction: row;
    width: 80vh;
    height: 20vh;
    justify-content: space-around;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
    color: white;

}

#buttons{
    display: flex;
    flex-direction: row;
    width: 80vh;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

#buttons button{
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;

}

@media(max-width : 510px) {
    #time{
        justify-content: center;
    }

    #buttons{
        justify-content: center;
    }

    #time{
        width: 60vh;
    } 

    #buttons button{
        margin-left: 5px;
        padding: 15px 15px;
    }

}